body{
    font-family: 'Mochiy Pop P One', sans-serif;
    background: linear-gradient(#090979 0%, #00d4ff 100%);
    color:white;
}
#show_sketch{
    float: right;
}
canvas{
    border:5px solid black;
    border-radius: 20px;
    animation-name:example; 
    animation-duration:4s;
    animation-iteration-count:infinite ;

}
@keyframes example{
    from{box-shadow: 10px 10px 10px rgb(0, 0, 0);}
    to{box-shadow: 10px 10px 10px rgb(68, 67, 67);}
}